<<<<<<< HEAD
:root {
    --bg-color: whitesmoke;
    --bg-color-a: white;
    --text-color: black;
    --hover-bg-color: rgba(255, 68, 0, 0.571);
    --hover-color: white;
    --card-bg: rgb(241, 240, 240);
    --orange-border: rgb(246, 78, 17);

}

body.dark {
    --bg-color: black;
}

* {
    transition: background .5s ease;
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: var(--bg-color);
    font-family: sans-serif;
    overflow-x: hidden;
}

.app {

    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: var(--bg-color);
    width: 96%;
    gap: 2rem;
    overflow-x: hidden;
    transform: translateX(0%);
    transition: transform .4s ease-in;

}

.header {
    flex: 0 0 auto;
    width: 96%;
    padding: 0rem 1rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: var(--bg-color-a);
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.header_sec_cnt {

    width: auto;
    display: flex;
    gap: .4rem;
    align-items: center;

}

.header_sec_cnt h1 {

    font-size: 1.4rem;
    margin: 0;
}

.lo {
    width: 30px;
    height: 30px;
    border-radius: 2rem;
    background-color: rgb(242, 242, 237);
    border: 3px solid rgb(246, 78, 17);
}

.sec {

    padding: .5rem;
    border-radius: .5rem;
    background-color: rgb(241, 240, 240);
    transition: background .5s ease;
    font-family: sans-serif;
    font-style: oblique;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
}

.sec:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-color);

}

.add {
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(241, 240, 240);
    border-radius: 4rem;
    padding: .3rem;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    cursor: pointer;
}

.add:hover {
    background-color: var(--hover-bg-color);
}

/*----------------------------------------*/


/*The quick access section*/
.app_main {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.quick_access {

    width: 90%;
    padding: .2rem;
    display: flex;
    align-items: center;


}

.title {

    font-family: sans-serif;
    font-size: 1.2rem;
    color: var(--text-color);
}

.quick_access_btn_sec {
    display: flex;
    margin-inline-start: auto;
    gap: .5rem;
}

.quick_access_btn {
    background: transparent;
    border: 1px solid gray;
    border-radius: 2rem;
    padding: .3rem 1rem;
    cursor: pointer;
}

.quick_access_btn:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-color);
}

/*grid layout*/
.grid_layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 95%;
    height: auto;
    gap: 1rem;
    background-color: var(--bg-color-a);
    padding: 1rem .5rem;
    border-radius: 2rem;

}

.cards {

    width: 100%;
    height: 200px;
    border-radius: 1rem;
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

/*Card reminder title*/
.remind_topic_cnt {
    flex: 0 0 auto;
    width: 90%;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: .2rem 1rem;
    gap: 1rem;
}

.remind_topic_cnt h3 {
    font-family: sans-serif;

}

.on_set {
    width: 20px;
    height: 20px;
    border-radius: 10rem;
    border: 2px solid gray;
}

.on_set_active {

    width: 20px;
    height: 20px;
    border-radius: 10rem;
    border: 2px solid var(--orange-border);
    background: radial-gradient(var(--orange-border) 40%, white 60%);  
    
}

/*Description section*/
.des {
    width: 85%;
    height: 5rem;
    padding: .0rem 0rem 0rem 3rem;
    margin: 0;
    overflow: hidden;

}
.des p {
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;

}

.btn_cnt{

    width: 90%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    
}
.btn {
    width: 8rem;
    height: 3rem;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 3rem;
    margin-block-end: 1rem;
    font-family: sans-serif;

}

.btn:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-color);
}

.sbtn {
    width: 8rem;
    height: 3rem;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 3rem;
    margin-block-end: 1rem;
    font-family: sans-serif;

}

.sbtn:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-color);
}
@media (min-width: 480px) {
    .grid_layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 920px) {
    .grid_layout {
        grid-template-columns: repeat(3, 1fr);
    }
}

=======
:root {
    --bg-color: whitesmoke;
    --bg-color-a: white;
    --text-color: black;
    --hover-bg-color: rgba(255, 68, 0, 0.571);
    --hover-color: white;
    --card-bg: rgb(241, 240, 240);
    --orange-border: rgb(246, 78, 17);

}

body.dark {
    --bg-color: black;
}

* {
    transition: background .5s ease;
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: var(--bg-color);
    font-family: sans-serif;
    overflow-x: hidden;
}

.app {

    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: var(--bg-color);
    width: 96%;
    gap: 2rem;
    overflow-x: hidden;
    transform: translateX(0%);
    transition: transform .4s ease-in;

}

.header {
    flex: 0 0 auto;
    width: 96%;
    padding: 0rem 1rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: var(--bg-color-a);
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.header_sec_cnt {

    width: auto;
    display: flex;
    gap: .4rem;
    align-items: center;

}

.header_sec_cnt h1 {

    font-size: 1.4rem;
    margin: 0;
}

.lo {
    width: 30px;
    height: 30px;
    border-radius: 2rem;
    background-color: rgb(242, 242, 237);
    border: 3px solid rgb(246, 78, 17);
}

.sec {

    padding: .5rem;
    border-radius: .5rem;
    background-color: rgb(241, 240, 240);
    transition: background .5s ease;
    font-family: sans-serif;
    font-style: oblique;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
}

.sec:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-color);

}

.add {
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(241, 240, 240);
    border-radius: 4rem;
    padding: .3rem;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    cursor: pointer;
}

.add:hover {
    background-color: var(--hover-bg-color);
}

/*----------------------------------------*/


/*The quick access section*/
.app_main {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.quick_access {

    width: 90%;
    padding: .2rem;
    display: flex;
    align-items: center;


}

.title {

    font-family: sans-serif;
    font-size: 1.2rem;
    color: var(--text-color);
}

.quick_access_btn_sec {
    display: flex;
    margin-inline-start: auto;
    gap: .5rem;
}

.quick_access_btn {
    background: transparent;
    border: 1px solid gray;
    border-radius: 2rem;
    padding: .3rem 1rem;
    cursor: pointer;
}

.quick_access_btn:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-color);
}

/*grid layout*/
.grid_layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 95%;
    height: auto;
    gap: 1rem;
    background-color: var(--bg-color-a);
    padding: 1rem .5rem;
    border-radius: 2rem;

}

.cards {

    width: 100%;
    height: 200px;
    border-radius: 1rem;
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

/*Card reminder title*/
.remind_topic_cnt {
    flex: 0 0 auto;
    width: 90%;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: .2rem 1rem;
    gap: 1rem;
}

.remind_topic_cnt h3 {
    font-family: sans-serif;

}

.on_set {
    width: 20px;
    height: 20px;
    border-radius: 10rem;
    border: 2px solid gray;
}

.on_set_active {

    width: 20px;
    height: 20px;
    border-radius: 10rem;
    border: 2px solid var(--orange-border);
    background: radial-gradient(var(--orange-border) 40%, white 60%);  
    
}

/*Description section*/
.des {
    width: 85%;
    height: 5rem;
    padding: .0rem 0rem 0rem 3rem;
    margin: 0;
    overflow: hidden;

}
.des p {
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;

}

.btn_cnt{

    width: 90%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    
}
.btn {
    width: 8rem;
    height: 3rem;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 3rem;
    margin-block-end: 1rem;
    font-family: sans-serif;

}
.btn:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-color);
}
@media (min-width: 480px) {
    .grid_layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 920px) {
    .grid_layout {
        grid-template-columns: repeat(3, 1fr);
    }
}

>>>>>>> ac109cfe00c40a81bf190e3b325cca2330e9d30e
