:root {
    --bg-color: whitesmoke;
    --bg-color-a: white;
    --text-color: black;
    --hover-bg-color: rgba(255, 68, 0, 0.571);
    --hover-color: white;
    --card-bg: rgb(241, 240, 240);
    --orange-border: rgb(246, 78, 17);

}

.subframe {

    width: 100%;
    min-height: 99dvh;
    display: none;
    flex-direction: column;
    place-items: center;
    overflow: auto;
    background-color: var(--bg-color);
    transform: translateX(100%);
    transition: transform .5s ease;

}

/*the main container*/
.list_cnt {
    width: 75%;

    min-height: 10rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    margin-block-start: 2rem;
    margin-inline-end: 2.5rem;
    border-radius: 1rem;
    background-color: var(--bg-color);
    flex: 0 0 auto;
}

.list_sec {

    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;



}

.list_cnt h3 {
    font-family: sans-serif;
    margin: 0;
    background-color: var(--bg-color-a);
    flex: 1;
    padding: .5rem;
    border-radius: .5rem;
}

.radioComplete {
    width: 25px;
    height: 25px;
    border: 2px solid gray;
    border-radius: 4rem;
}


.radioCompleted {
    width: 25px;
    height: 25px;
    border: 2px solid var(--orange-border);
    background: radial-gradient(var(--orange-border) 40%, white 60%);
    border-radius: 4rem;
}

.line {
    height: 2rem;
    border: 1px solid gray;
    align-self: flex-start;
    margin-inline-start: .8rem;
}

.back {

    width: 6rem;
    height: 3rem;
    border: 1px solid gray;
    border-radius: 3rem;
    background-color: transparent;
    align-self: flex-start;
    margin-inline-start: 1rem;

}

.card_space {
    width: 90%;
    height: 10rem;
    border: 1px solid red;
    margin-block-start: 1rem;
}