:root {
    --bg-color: whitesmoke;
    --bg-color-a: white;
    --text-color: black;
    --hover-bg-color: rgba(255, 68, 0, 0.571);
    --hover-color: white;
    --card-bg: rgb(241, 240, 240);
    --orange-border: rgb(246, 78, 17);
    --load-cl: rgb(255, 246, 246);

}

body.dark {
    --bg-color: black;
}

body {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    height: 100dvh;
    background-color: var(--bg-color);
    font-family: sans-serif;
    overflow-x: hidden;
    margin: 0;
}

.app {

    display: flex;
    flex-direction: column;
    place-items: center;

    background-color: var(--bg-color);
    width: 96%;
    height: 90%;
    gap: 2rem;
    overflow-x: hidden;
    transform: translateX(0%);
    transition: transform .4s ease-in;

}

.title_cnt {

    width: 90%;
    display: flex;
    flex-direction: column;

    gap: .3rem;
    background-color: var(--bg-color-a);
    padding: 1rem 1rem;
    border-radius: 1.5rem;
}

.title_cnt h1 {
    margin: 0;
    font-family: "Bai Jamjuree";
    font-style: normal;
    color: var(--orange-border);
}

.title_cnt span {
    margin: 0;
    font-family: sans-serif;
    font-style: normal;
    margin-inline-start: 1rem;
    font-weight: bolder;
}

.quote_card {
    width: 95%;
    height: 12rem;
    border: none;
    border-bottom: 1px solid var(--orange-border);
    border-radius: 2rem;
    background-color: var(--bg-color-a);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem .2rem;

}

.quote_card legend {
    margin-inline-start: 2rem;
}

.cpy {
    display: flex;
    gap: .1rem;
    position: absolute;
    top: 10rem;
    right: 1rem;
    align-self: flex-end;
    margin-inline-end: 1rem;
    border: 1px solid var(--orange-border);
    padding: .2rem .4rem;
    border-radius: 1rem;
    flex: 0 0 auto;
    cursor: pointer;
}

.profile_cnt {
    flex: 0 0 auto;
    width: 90%;
    display: flex;
    gap: .4rem;

}

.profile_pic {
    width: 40px;
    height: 40px;
    border: 4px solid var(--orange-border);
    background-color: rgb(255, 255, 255);
    border-radius: 10rem;
    object-fit: cover;
    object-position: center;
    display: flex;
    place-items: center;
    place-content: center;
    font-weight: bolder;
    font-size: 1.4rem;

}

.profile_pic_img {
    width: 40px;
    height: 40px;
    border: 2px solid var(--orange-border);
    border-radius: 10rem;
    object-fit: cover;
    object-position: center;
}

.profile_name_source_cnt {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.profile_name {
    font-family: sans-serif;
    font-size: 1.4rem;
    margin: 0;
    margin-block-start: .2rem;
}

.source {
    font-family: sans-serif;
    color: gray;
    font-size: .8rem;
}

.source a {
    text-decoration: none;
    color: gray;
}

.quote_section {

    width: 80%;
    max-height: 70%;
    overflow: hidden;

}

.quote_section p {
    font-weight: 400;
    margin: 0;
    font-size: 1.1rem;
    font-family: sans-serif;
    font-style: italic;

}



.button_cnt {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.btns {

    width: 8rem;
    height: 3rem;
    border: 1px solid gray;
    border-radius: 3rem;
    color: white;
    background-color: rgba(249, 85, 25, 0.959);
    font-weight: 600;
    display: flex;
    align-items: center;
    place-content: center;
    gap: .3rem;
}

.loading {
    display: none;
    border: 2px dashed var(--load-cl);
    border-radius: 5rem;
    width: 1rem;
    height: 1rem;
    animation: load 1s linear infinite;
    animation-play-state: paused;
}

@keyframes load {
    0% {
        border-color: var(--load-cl);
        border-right-color: var(--orange-border);
    }

    40% {

        border-color: var(--load-cl);
        border-bottom-color: var(--orange-border);
    }

    80% {
        border-color: var(--load-cl);
        border-left-color: var(--orange-border);
    }

    100% {
        border-color: var(--load-cl);
        border-top-color: var(--orange-border);
    }
}